:host {
    display: block;
    position: absolute;
    z-index: 5;
    border: 1px solid #000;
    box-sizing: border-box;
    transition: 0.125s background;

    &.v {
        cursor: ns-resize;
    }

    &.h {
        cursor: ew-resize;
    }
}
