$titlebar-height: 30px;

:host {
    flex: 0 0 $titlebar-height;
    display: flex;
    align-items: center;
    background: var(--theme-bg-more-2);
    color: var(--bs-body-color);
    -webkit-app-region: drag;
    position: relative;
    z-index: 10;

    menu-bar {
        flex: none;
        align-items: stretch;
        -webkit-app-region: no-drag;
    }

    app-menu {
        align-self: stretch;
        -webkit-app-region: no-drag;
    }

    .title {
        flex: none;
        font-size: 14px;
        line-height: 1;
        padding: 0 14px;
        color: var(--bs-body-color);
    }

    window-controls {
        background: transparent;
        -webkit-app-region: no-drag;
    }

    &.inset {
        flex-basis: 36px;

        .title {
            padding-left: 80px;
        }

        window-controls {
            display: none;
        }
    }
 }